
body{
    background-image: url('../images/hellish.png');
    background-repeat: no-repeat;
    background-position: center bottom 40%;
    background-attachment: none;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}
