
nav{
    background-color: #BE4652;
    font-family: 'Crimson Pro';
}


body{
    background-image: url('../images/backgroundcolor.jpg');
    background-repeat: no-repeat;
    background-color: #BE4652;
    background-position: right -10% top -30%;
    background-attachment: fixed;
}